/* Center content below the map */
#features {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

#destination-search {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
}

#search-btn {
    padding: 8px 16px;
    background-color: #136d16;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #45a049;
}

#route-info {
    margin-top: 20px;
    text-align: center;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

